.header_top {
	padding-top: 40px;
}

.main_con {
  background-color: #ffffff;
}

.mini-layout {
  background-color: #dceaf4;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.hr1 {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #dff0d8;
  border-bottom: 1px solid #d6e9c6;
}

.footer {
  padding: 25px 0 26px;
  border-top: 1px solid #e5e5e5;
  background-color: #f6f5f5;
}
.footer p {
	font-family: tahoma;
	font-size: 11px;
	color: #666;
	text-decoration: none;
	text-align: center;
}